@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scaffolding */
#signup-form {
  animation: fadeEffect 400ms ease-in-out;
}

/* Forms */
#email-input.required {
  @apply border-tomato;
  @apply bg-salmon;
}

#email-input.required::placeholder {
  @apply text-tomato;
}

/* Buttons */
.button {
  @apply px-6 py-4 rounded-lg;
  @apply font-roboto font-bold;
}

.button-primary {
  @apply button;
  @apply bg-dark-slate text-white transition-colors duration-300 ease-in-out;
  @apply hover:bg-charcoal;
}

/* Animations */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}